body {

    -webkit-user-select:none;
    user-select:none;
    background:white;
}
* {
    box-sizing: border-box;
    -webkit-user-drag: none;
    margin:0;
    padding:0;
    font-family:inter;
}

.nav {
    padding-top:16px;
    width:90%;
    margin:auto;
}
.comp-name {
    text-decoration:none;
    color:black;
}
.comp-name, .comp-img, .header-1 {
    display: inline-block;
}
.comp-img, .header-1 {
    vertical-align: middle;
    font-family:Inter;
    font-size:24px;
}
.header-1  {
    padding-left:6px;
}
.nav-links {
    display:flex;
    flex-wrap: nowrap;
    height:40px;
    float:right;
}
.btn {
    background:#0000;
    border:none;
    outline:none;
    cursor:pointer;
    padding:0;
}
img.menu {
    vertical-align: middle;
}
.btn.nav-btn {
    font-family:inter;
    font-size:16px;
    color:rgba(52, 64, 81, 1);
    margin-left:20px;
    position:relative;
}
.btn.nav-btn:not(:last-child) {
    border-bottom:1px solid rgb(242, 242, 242);
}
.btn.nav-btn:not(:nth-child(6),:nth-child(7))::before, .btn.welcome-btn.streamline-btn:last-child::before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-bottom:2px solid rgba(26, 117, 255, 1);

    transform:scaleX(0);
    transform-origin:right;

    transition:transform 0.2s ease-in-out;
}
.btn.nav-btn:is(:focus, :hover)::before {
    transform:scaleX(1);
    transform-origin:left;
}
.btn.nav-btn.start-now {
    background:rgba(26, 117, 255, 1);
    color:white;
    font-size:14px;
    padding:0 22px;
    border-radius:8px;

    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.btn.nav-btn.start-now:is(:hover, :focus) {
    background:rgb(15, 106, 242);
    transform:translate(4px);
}
.btn.nav-btn.menu {
    border:1px solid rgba(206, 210, 218, 1);
    border-radius:8px;
    padding: 0px 5px;
    margin-left:12px;
    display:none;

    transition:border 0.2s ease-in-out;
}
.btn.nav-btn.menu:is(:focus, :hover) {
    border:1px solid rgb(15, 106, 242);
}


.content {
    width:90%;
    margin:auto;
}
.welcome-container {
    display:flex;
    align-items:center;
    padding-top:80px;
}
.wsection-1 {
    flex:10;
    position:relative;
}
.wsection-2 {
    flex:7;
    position:relative;
    text-align: center;
}
.model-img {
    border-radius:20px;
}
.model-img.res-1, .model-img.res-2 {
    display:none;
}
.card-img {
    position:absolute;
    bottom:24px;
    left:12%;
}
.header-2 {
    font-family:inter;
    font-size:48px;
    color:rgba(20, 28, 36, 1);
    width:95%;
}
.h2-underline {
    text-decoration:underline 5px solid rgb(15, 106, 242);
}
.text-1 {
    margin-top:30px;
   font-size:18px;
   width:95%;
}
.wsection-1-2 {
    display:flex;
    margin-top:60px;
    gap:12px;
}
.btn.welcome-btn:first-child {
    background:rgba(26, 117, 255, 1);
    color:white;
    border-radius:8px;
    padding:9px 18px;
    font-size:14px;
    transition:background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
}
.btn.welcome-btn:first-child:is(:focus, :hover) {
    background:rgb(15, 106, 242);
    transform:scale(1.02);
}
.btn.welcome-btn:last-child {
    border:1px solid rgba(206, 210, 218, 1);
    border-radius:8px;
    color:rgba(52, 64, 81, 1);
    font-size:14px;
}
.play-img {
    display:inline-block;
    vertical-align:middle;
    padding-left:15px;
    transition:transform 0.7s ease-in-out;
}
.watch-text {
    display:inline-block;
    vertical-align:middle;
    padding-left:10px;
    padding-right:18px;
}
.btn.welcome-btn:last-child:is(:hover, :focus) .play-img {
    transform:rotateX(360deg);
    transform-origin:right;
}
.customers {
    margin-top:24px;
    font-size:18px;
    color:rgba(52, 64, 81, 1);
}
.user-rating {
    display:flex;
    margin-top:10px;
}


.features-container {
    padding-top:80px;
    padding-bottom:80px;
    position:relative;
}
.feature-label, .header-3, .description-1 {
    text-align:center;
}
.feature-label {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    background:rgba(240, 246, 255, 1);
    border-radius:150px;
    color:rgba(0, 82, 204, 1);
    padding:2.5px 12px;
}
.header-3 {
    margin-top:14px;
    font-size:36px;
}
.description-1 {
    font-size:18px;
    color:rgba(52, 64, 81, 1);
    margin-top:14px;
}
.flex-container-1 {
    display:flex;
    flex-wrap:nowrap;
    gap:40px;
    align-items:center;
    margin-top:80px;
}
.fcsection-1 {
    flex:3;
    display:flex;
    flex-direction: column;
}
.fcsection-2 {
    flex:2;
}
.fcsection-2 {
    display:flex;
    justify-content:flex-end;
    gap: 24px;
    row-gap: 30px;
}
.gallery-1, .gallery-2 {
    display:flex;
    flex-direction:column;
    gap:24px;
}
.gallery-img {
    width:100%;
}
.img-background {
    display:inline-block;
    background:rgba(240, 246, 255, 1);
    border-radius:12px;
    padding:8px;
}
.featurecard-img {
    vertical-align: middle;
}
.featurecard-title {
    font-size:20px;
    color:rgba(0, 41, 102, 1);
    font-weight:600;
    margin-top:16px;
}
.featurecard-descriptions {
    font-size:16px;
    color:rgba(0, 41, 102, 1);
    margin-top:16px;
}
.featurecard-details {
    margin:28px;
}


.streamline-container {
    padding-top:80px;
    padding-bottom:80px;
}
.header-4, .description-2 {
    text-align:center;
    width:100%;
}
.header-4 {
    font-size:36px;
}
.description-2 {
    font-size:18px;
    color:rgba(52, 64, 81, 1);
    margin-top:12px;
    width:50%;
    margin-left:25%;
}
.sfeature-container {
    display:flex;
    justify-content: center;
    gap:36px;
    margin-top:30px;
}
.smallfeature-img {
    vertical-align: middle;
    padding-right:8px;
}
.sfsection-4 {
    display:flex;
    gap:12px;
    justify-content: center;
    margin-top:40px;
}
.btn.welcome-btn.streamline-btn:last-child {
    border:none;
    position:relative;
}
.btn.welcome-btn.streamline-btn:last-child::before {
    transform-origin: center;
}
.btn.welcome-btn.streamline-btn:last-child:is(:hover, :focus)::before {
    transform:scaleX(0.85);
}

.asked-question-container, .blog-container{
    padding-top:80px;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:80px;
}
.description-3 {
    font-size:18px;
    color:rgba(52, 64, 81, 1);
    margin-top:12px;
    text-align: center;
    width:44%;
    line-height: 28px;
}
.question-container {
    display:flex;
    flex-direction:column;
    width:65%;
    gap:16px;
    margin-top:64px;
    margin-bottom:40px;
}
.qsection-1, .qsection-2, .qsection-3, .qsection-4, .qsection-5 {
    padding:32px;
    border:1px solid rgba(206, 210, 218, 1);
    border-radius:8px;
}
.questions {
    font-size:18px;
    color:rgba(20, 28, 36, 1);
    text-align: left;
}
.answer {
    font-size:16px;
    color:rgba(52, 64, 81, 1);
    margin-top:16px;
    width:96%;
    text-align:left;
}
.show-answer-img, .remove-answer-img {
    vertical-align: middle;
    float:right;
}
.still-container {
    width:527px;
    background:rgba(240, 246, 255, 1);
    padding:32px;
    border-radius:20px;
    text-align:center;
}
.header-5 {
    font-size:20px;
    font-weight:600;
    color:rgba(0, 41, 102, 1);
}
.description-4 {
    font-size:14px;
    color:rgba(0, 41, 102, 1);
    margin-top:12px;
}
.btn.contact-us {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
    border-radius:8px;
    color:white;
    font-size:16px;
    margin-top:32px;
    padding:10px 20px;
    background-size: 300% 100%;
    transition: all .4s ease-in-out;
}
.btn.contact-us:is(:focus, :hover) {
    background-position: 100% 0;
}
.email-img {
    padding-right:6px;
}


.article-container {
    display:flex;
    gap:32px;
    margin-top:64px;
}
.article-1 {
    flex:1;
    display:flex;
    flex-direction: column;
}
.article-img {
    width:100%;
}
.article-img.res-1, .article-img.res-2 {
    display:none;
}
.asection-2, .asection-3, .asection-4, .asection-5 {
    width:94%;
    margin-left:3%;
    margin-top:0;
}
.asection-2 {
    display:flex;
    gap:8px;
    margin-top:24px;
}
.aname {
    font-size:14px;
    color:rgba(52, 64, 81, 1);
}
.adate {
    font-size:12px;
    color:rgba(99, 112, 131, 1);
}
.header-6 {
    font-size:24px;
    font-weight:600;
    color:rgba(20, 28, 36, 1);
    margin-top:12px;
}
.description-5 {
    font-size:16px;
    color:rgba(52, 64, 81, 1);
    margin-top:10px;
}
.asection-5 {
    display:flex;
    gap:8px;
    margin-top:24px;
    margin-bottom:24px;
}
.article-label {
    padding:2px 8px;
    font-size:12px;
    font-weight: 600;
    border-radius:150px;
}
.article-label.ui {
    background:rgba(229, 239, 255, 1);
    color:rgba(0, 78, 204, 1);
}
.article-label.studio {
    background:rgba(229, 244, 255, 1);
    color:rgba(0, 119, 204, 1);
}
.article-label.web {
    background:rgba(229, 249, 255, 1);
    color:rgba(0, 153, 204, 1);
}
.article-label.count {
    background:rgba(242, 244, 247, 1);
    color:rgba(52, 64, 81, 1);
}
.btn.load-more {
    margin-top:32px;
    margin-bottom:40px;
    padding:12px 24px;
    background:rgba(26, 117, 255, 1);
    border-radius:8px;
    color:white;
    font-size:16px;

    transition:background-color 0.2s ease-in-out;
}
.btn.load-more:is(:hover, :focus) {
    background:rgb(15, 106, 242);
}


.subscribe-container {
    margin-top:64px;
    margin-bottom:64px;
    padding:64px;
    background:url('imgs/shape.png') rgba(240, 246, 255, 1) right center no-repeat;
    border-radius:32px;
}
.header-7 {
    font-size:36px;
    font-weight:600;
    color:rgba(0, 41, 102, 1);
    width:60%;
    margin-bottom:16px;
}
.description-6 {
    font-size:18px;
    font-weight:400;
    color:rgba(0, 41, 102, 1);
    width:50%;
    margin-bottom:40px;
}
form {
    display:flex;
    gap:16px;
}
.email-input {
    font-size:16px;
    padding:10px 8px 10px 12px;
    border-radius:8px;
    outline:none;
    border:1px solid #0000;
    width:30%;

    transition:border 0.2s ease-in-out;
}
.email-input:focus {
    border:1px solid #75a3e37a;
}
.btn.subscribe {
    padding:10px 20px;
    border-radius:8px;
    background:rgba(26, 117, 255, 1);
    color:white;
    font-size:16px;

    transition:transform 0.2s ease-in-out;
}
.btn.subscribe:is(:hover, :focus) {
    transform:scale(1.03);
}


.client-container {
    display:flex;
    flex-direction: column;
    align-items:center;
    margin-top:80px;
    margin-bottom:80px;
}
.header-8 {
    margin-top:16px;
    margin-bottom:64px;
    font-size:36px;
    color:rgba(20, 28, 36, 1);
}
.client-section {
    display:flex;
    gap:61px;
}
.client-section:last-child {
    margin-top:48px;
}
.logo-section {
    font-size:18px;
    color:rgba(20, 28, 36, 1);
    text-align: center;
    width:180px;
}
.logo-img {
    vertical-align: middle;
    margin-right:8px;
}


.footer {
    padding-top:40px;
    padding-bottom:40px;
}
.footer-container {
    display:flex;
    justify-content: flex-start;
    margin-bottom:32px;
}
.footer-link-flex {
    display:flex;
    justify-content: flex-end;
}
.comp-info {
    flex:1;
}
.footer-link-flex {
    flex:2;
    gap:80px;
}
.header-1.footer {
    padding:0;
}
.description-7 {
    font-size:16px;
    color:rgba(52, 64, 81, 1);
    margin-top:24px;
}
.social-flex {
    margin-top:32px;
    display:flex;
    gap:12px;
    border-radius:50%;
}
.btn.social-link {
    transition:transform 0.2s ease-in-out;
}
.btn.social-link:is(:focus, :hover) {
    transform:scale(1.2);
}
.social-img {
    vertical-align: middle;
}
.link-title {
    font-size:18px;
    color:rgba(20, 28, 36, 1);
    font-weight:600;
    margin-bottom:16px;
}
.links:not(:last-child) {
    margin-bottom:16px;
}
.links {
    position:relative;
    text-decoration:none;
    color:rgba(52, 64, 81, 1);
    font-size:16px;
    cursor:pointer;
    font-weight:500;
}
.links:is(:focus, :hover), .legal:is(:focus, :hover) {
    text-decoration: underline 2px rgb(130, 180, 255);
}
.links.pho {
    margin-top:16px;
}
.links.loc {
    display: flex;
    align-items: center;
    gap:8px;
}
.social-img.loc {
    height:20px;
    margin:0;
}
.bottom-footer-info {
    border-top: 1px solid rgba(228, 231, 236, 1);
    padding-top:32px;
}
.bfsection-1, .bfsection-2, .legal, .right-border {
    display: inline-block
}
.bfsection-2 {
    float:right;
}
.right-border {
    border-right:1px solid rgba(206, 210, 218, 1);
    height:20px;
    margin-left:8px;
    margin-right:8px;
    vertical-align: middle;
}
.legal {
    cursor:pointer;
}



@media screen and (max-width:1450px) {
    .fcsection-2 {
        flex:2.8;
    }
    .footer-link-flex {
        gap:30px;
    }
}
@media screen and (max-width:1050px) {
    .nav {
        padding-bottom:10px;
        border-bottom:1px solid rgba(228, 231, 236, 1);
        width:100%;
    }
    .comp-name {
        margin-left:2.5%;
    }
    .nav-links {
        margin-right:2.5%;
    }
    .btn.nav-btn.menu  {
        display: block;
    }
    .content {
        width:95%;
    }
    .card-img, .model-img {
        display:none;
    }
    .model-img.res-1 {
        display: block;
    }
    .welcome-container {
        flex-direction:column;
        gap:64px;
    }
    .btn.nav-btn:not(:nth-child(6),:nth-child(7)) {
        display:none;
    }
    .header-2, .text-1, .description-3 {
        width:100%;
    }
    .text-1 {
        margin-top:16px;
    }
    .wsection-1-2 {
        margin-top:48px;
    }
    .user-rating {
        margin-top:8px;
    }

    .flex-container-1 {
        flex-direction:column;
        margin-top:72px;
        gap:30px;
    }
    .featurecard-details {
        margin:24px;
    }
    .fcsection-1, .fcsection-2 {
        flex:content;
    }
    .fcsection-1 {
        width:100%;
    }
    .sfeature-container {
        gap:32px;
    }
    .question-container {
        width:100%;
    }
    .blog-container {
        padding-bottom:28px;
    }
    .article-img {
        display:none;
    }
    .article-img.res-1 {
        display:block;
    }
    .article-container {
        flex-direction:column;
        width:100%;
        margin-top:48px;
    }
    .subscribe-container {
        margin-top:0;
    }
    .header-7 {
        width:95%;
    }
    .description-6 {
        width:75%;
    }
    .email-input {
        width:50%;
    }
    .client-container {
        margin-top:64px;
        margin-bottom:64px;
    }
    .subscribe-container {
        background:url('imgs/shape-1050px.png') no-repeat right bottom rgba(240, 246, 255, 1);
    }
    .header-8 {
        margin-bottom:72px;
    }
    .logo-container {
        display:flex;
        gap:120px;
    }
    .client-section {
        flex-direction:column;
    }
    .client-section:last-child {
        margin:0;
    }
    .footer-container {
        flex-direction:column;
        gap:32px;
    }
    .footer-link-flex {
        justify-content:flex-start;
        gap:11%;
    }
    .link-container:last-child {
        flex:40%;
    }
}
@media screen and (max-width:810px) {
    .footer-link-flex {
        gap:40px;
    }
}